
# adb only
on property:sys.usb.config=adb
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

# mass storage only
on property:sys.usb.config=mass_storage
    write /sys/devices/platform/usb_composite/usb_mass_storage/enable 1
    setprop sys.usb.state $sys.usb.config

# mass storage and adb
on property:sys.usb.config=mass_storage,adb
    write /sys/devices/platform/usb_composite/usb_mass_storage/enable 1
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

# rndis only
on property:sys.usb.config=rndis
    write /sys/devices/platform/usb_composite/rndis/enable 1
    setprop sys.usb.state $sys.usb.config

# rndis and adb
on property:sys.usb.config=mass_storage,adb
    write /sys/devices/platform/usb_composite/rndis/enable 1
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config


# mass storage, rndis and adb
on property:sys.usb.config=mass_storage,adb
    write /sys/devices/platform/usb_composite/usb_mass_storage/enable 1
    write /sys/devices/platform/usb_composite/rndis/enable 1
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config
